body {
  background: #f4fcfda1;
}

a {
  color: #59ddee;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px auto;
}

.App-logo {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
