.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .definition-word {
  font-weight: 500;
}

.Meaning .example {
  color: #70757a;
  font-style: italic;
  margin-top: 10px;
}
