.Phonetic {
  margin: 20px 0;
}

.Phonetic .button {
  display: inline-block;
}

button {
  background-color: white;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1.25rem;
  color: #59ddee;
  transition: all 180ms ease-in-out;
}

button:hover {
  background: #59ddee;
  color: white;
  border-radius: 5px;
}

.Phonetic .text {
  opacity: 0.6;
  font-weight: 500;
}
